.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-Content {
  background-color: #cfd6d8;
  min-height: 100vh;
  display: flex;
  column-gap: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after{
  border-radius: 15px;
  padding: 2px;
}

.react-calendar{
  width: 460px !important;
}

.react-calendar__navigation button[disabled]{
  visibility: hidden;
}

.react-calendar__month-view__weekdays{
  text-transform: initial;
  color:slateblue;
}

.react-calendar__month-view__weekdays__weekday{
  text-transform: none;
  font-size: smaller;
}

.timeStop{
  background-color: slateblue;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.slots{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 15px;
 
}

.header{
  background-color: #cfd6d8;
 
}
.header-title{
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
  color: slateblue;
}

.instructions{
  background-color: #cfd6d8;
}

input, textarea{
  border: 2px solid slateblue;
  padding: 5px;
  border-radius: 5px;
}

label{
  font-size: small;
  color: black;
}
.confirmationForm{
  border-radius: 5px;
  border: 3px solid slateblue;
  padding: 30px;
}
.backButton{
  border-radius: 5px;
  padding: 10px;
  color: slateblue;
  text-transform: uppercase;
  font-weight: bold;
}